<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title></title>
    <link href="static/app.css" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/react@17.0.2/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.production.min.js"></script>

  </head>
    <body>
        <div id="root"></div>
        <!-- <script type="module" src="static/app.js"></script> -->
        <script type="module" src="./static/js/App.js"></script>
        <script type="module" src="./static/js/index.js"></script>
    </body>
</html>